In [1]:
import pymongo

In [2]:
# Create a database called "Rodrigosdatabase":

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["Rodrigosdatabase"]

In [3]:
# Return a list of your system's databases:
print(myclient.list_database_names())

['Rodrigosdatabase', 'admin', 'config', 'local']

In [4]:
# Or you can check a specific database by name:

# Check if "mydatabase" exists:

dblist = myclient.list_database_names()
if "Rodrigosdatabase" in dblist:
    print("The database exists.")

The database exists.

In [5]:
# In MongoDB, a database is not created until it gets content, so if this is your first time creating a database, you should complete the next two chapters (create collection and create document) before you check if the database exists!
# Create a collection called "customers":

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]

mycol = mydb["customers"]

In [6]:
# Insert a record in the "customers" collection:

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [7]:
# Return a list of all collections in your database:
print(mydb.list_collection_names())

['customers']

In [8]:
#Return the _id Field
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

62843c47b8994b99d4786eae

In [9]:
# Insert Multiple Documents
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('62843c47b8994b99d4786eb0'), ObjectId('62843c47b8994b99d4786eb1'), ObjectId('62843c47b8994b99d4786eb2'), ObjectId('62843c47b8994b99d4786eb3'), ObjectId('62843c47b8994b99d4786eb4'), ObjectId('62843c47b8994b99d4786eb5'), ObjectId('62843c47b8994b99d4786eb6'), ObjectId('62843c47b8994b99d4786eb7'), ObjectId('62843c47b8994b99d4786eb8'), ObjectId('62843c47b8994b99d4786eb9'), ObjectId('62843c47b8994b99d4786eba'), ObjectId('62843c47b8994b99d4786ebb')]

In [12]:
# Insert Multiple Documents, with Specified IDs

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'errmsg': 'E11000 duplicate key error collection: Rodrigosdatabase.customers index: _id_ dup key: { _id: 1 }', 'op': {'_id': 1, 'name': 'John', 'address': 'Highway 37'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [11]:
# Find the first document in the customers collection:

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('62843386136276e701e9d543'), 'name': 'John', 'address': 'Highway 37'}

In [13]:
# Return all documents in the "customers" collection, and print each document:

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

for x in mycol.find():
    print(x)

{'_id': ObjectId('62843386136276e701e9d543'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6284374f136276e701e9d544'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62843863136276e701e9d546'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62843863136276e701e9d547'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62843863136276e701e9d548'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62843863136276e701e9d549'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62843863136276e701e9d54a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62843863136276e701e9d54b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62843863136276e701e9d54c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62843863136276e701e9d54d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62843863136276e701e9d54e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62843863136276e701e9d54f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62843863136276e701e9d550'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62843863136276e701e9d551'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('62843c47b8994b99d4786ead'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62843c47b8994b99d4786eae'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62843c47b8994b99d4786eb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62843c47b8994b99d4786eb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62843c47b8994b99d4786eb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62843c47b8994b99d4786eb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62843c47b8994b99d4786eb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62843c47b8994b99d4786eb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62843c47b8994b99d4786eb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62843c47b8994b99d4786eb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62843c47b8994b99d4786eb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62843c47b8994b99d4786eb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62843c47b8994b99d4786eba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62843c47b8994b99d4786ebb'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [22]:
# Return only the names and addresses, not the _ids:

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [19]:
# This example will exclude "address" from the result:


myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "address": 0 }):
    print(x)

{'_id': ObjectId('62843386136276e701e9d543'), 'name': 'John'}
{'_id': ObjectId('6284374f136276e701e9d544'), 'name': 'Peter'}
{'_id': ObjectId('62843863136276e701e9d546'), 'name': 'Amy'}
{'_id': ObjectId('62843863136276e701e9d547'), 'name': 'Hannah'}
{'_id': ObjectId('62843863136276e701e9d548'), 'name': 'Michael'}
{'_id': ObjectId('62843863136276e701e9d549'), 'name': 'Sandy'}
{'_id': ObjectId('62843863136276e701e9d54a'), 'name': 'Betty'}
{'_id': ObjectId('62843863136276e701e9d54b'), 'name': 'Richard'}
{'_id': ObjectId('62843863136276e701e9d54c'), 'name': 'Susan'}
{'_id': ObjectId('62843863136276e701e9d54d'), 'name': 'Vicky'}
{'_id': ObjectId('62843863136276e701e9d54e'), 'name': 'Ben'}
{'_id': ObjectId('62843863136276e701e9d54f'), 'name': 'William'}
{'_id': ObjectId('62843863136276e701e9d550'), 'name': 'Chuck'}
{'_id': ObjectId('62843863136276e701e9d551'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}
{'_id': ObjectId('62843c47b8994b99d4786ead'), 'name': 'John'}
{'_id': ObjectId('62843c47b8994b99d4786eae'), 'name': 'Peter'}
{'_id': ObjectId('62843c47b8994b99d4786eb0'), 'name': 'Amy'}
{'_id': ObjectId('62843c47b8994b99d4786eb1'), 'name': 'Hannah'}
{'_id': ObjectId('62843c47b8994b99d4786eb2'), 'name': 'Michael'}
{'_id': ObjectId('62843c47b8994b99d4786eb3'), 'name': 'Sandy'}
{'_id': ObjectId('62843c47b8994b99d4786eb4'), 'name': 'Betty'}
{'_id': ObjectId('62843c47b8994b99d4786eb5'), 'name': 'Richard'}
{'_id': ObjectId('62843c47b8994b99d4786eb6'), 'name': 'Susan'}
{'_id': ObjectId('62843c47b8994b99d4786eb7'), 'name': 'Vicky'}
{'_id': ObjectId('62843c47b8994b99d4786eb8'), 'name': 'Ben'}
{'_id': ObjectId('62843c47b8994b99d4786eb9'), 'name': 'William'}
{'_id': ObjectId('62843c47b8994b99d4786eba'), 'name': 'Chuck'}
{'_id': ObjectId('62843c47b8994b99d4786ebb'), 'name': 'Viola'}

In [23]:
# You get an error if you specify both 0 and 1 values in the same object (except if one of the fields is the _id field):

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "name": 1, "address": 0 }):
    print(x)

OperationFailure: Cannot do exclusion on field address in inclusion projection, full error: {'ok': 0.0, 'errmsg': 'Cannot do exclusion on field address in inclusion projection', 'code': 31254, 'codeName': 'Location31254'}

In [24]:
# Find document(s) with the address "Park Lane 38":

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('62843863136276e701e9d54e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62843c47b8994b99d4786eb8'), 'name': 'Ben', 'address': 'Park Lane 38'}

In [25]:
# Find documents where the address starts with the letter "S" or higher:
# use the greater than modifier: {"$gt": "S"}:

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('62843863136276e701e9d548'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62843863136276e701e9d54b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62843863136276e701e9d54d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62843863136276e701e9d551'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('62843c47b8994b99d4786eb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62843c47b8994b99d4786eb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62843c47b8994b99d4786eb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62843c47b8994b99d4786ebb'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [26]:
# Find documents where the address starts with the letter "S":

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('62843863136276e701e9d54b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62843863136276e701e9d551'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('62843c47b8994b99d4786eb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62843c47b8994b99d4786ebb'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [27]:
# Sort the result alphabetically by name:

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('62843863136276e701e9d546'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62843c47b8994b99d4786eb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62843863136276e701e9d54e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62843c47b8994b99d4786eb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62843863136276e701e9d54a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62843c47b8994b99d4786eb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62843863136276e701e9d550'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62843c47b8994b99d4786eba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62843863136276e701e9d547'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62843c47b8994b99d4786eb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62843386136276e701e9d543'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62843c47b8994b99d4786ead'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62843863136276e701e9d548'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62843c47b8994b99d4786eb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6284374f136276e701e9d544'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62843c47b8994b99d4786eae'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62843863136276e701e9d54b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62843c47b8994b99d4786eb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62843863136276e701e9d549'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62843c47b8994b99d4786eb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62843863136276e701e9d54c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62843c47b8994b99d4786eb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62843863136276e701e9d54d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62843c47b8994b99d4786eb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62843863136276e701e9d551'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('62843c47b8994b99d4786ebb'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('62843863136276e701e9d54f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62843c47b8994b99d4786eb9'), 'name': 'William', 'address': 'Central st 954'}

In [28]:
# Sort the result alphabetically by name:
#Use the value -1 as the second parameter to sort descending: sort("name", 1) #ascending, sort("name", -1) #descending

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find().sort("name", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('62843863136276e701e9d54f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62843c47b8994b99d4786eb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62843863136276e701e9d551'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('62843c47b8994b99d4786ebb'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('62843863136276e701e9d54d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62843c47b8994b99d4786eb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62843863136276e701e9d54c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62843c47b8994b99d4786eb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62843863136276e701e9d549'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62843c47b8994b99d4786eb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62843863136276e701e9d54b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62843c47b8994b99d4786eb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6284374f136276e701e9d544'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62843c47b8994b99d4786eae'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62843863136276e701e9d548'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62843c47b8994b99d4786eb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62843386136276e701e9d543'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62843c47b8994b99d4786ead'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62843863136276e701e9d547'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62843c47b8994b99d4786eb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62843863136276e701e9d550'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62843c47b8994b99d4786eba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62843863136276e701e9d54a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62843c47b8994b99d4786eb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62843863136276e701e9d54e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62843c47b8994b99d4786eb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62843863136276e701e9d546'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62843c47b8994b99d4786eb0'), 'name': 'Amy', 'address': 'Apple st 652'}

In [29]:
# Delete the document with the address "Mountain 21":

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

myquery = { "address": "Sky st 331" }

mycol.delete_one(myquery)

In [30]:
# Delete all documents were the address starts with the letter S:

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

5  documents deleted.

In [33]:
# Delete all documents in the "customers" collection:
#To delete all documents in a collection, pass an empty query object to the delete_many() method:

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

36  documents deleted.

In [39]:
# Return all documents in the "customers" collection, and print each document:

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

for x in mycol.find():
    print(x)

In [40]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [41]:
# Change the address from "Valley 345" to "Canyon 123":

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [42]:
# Update all documents where the address starts with the letter "S":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

In [43]:
#Print "customers" after the update:

for x in mycol.find():
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}

In [44]:
# Limit the result to only return 5 documents:

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Rodrigosdatabase"]
mycol = mydb["customers"]

myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}